<h3>How will you spend your Saturday Night?</h3>
<br>
<br>
<h2> <%= @story %> </h2>
<h2> <%= @question %> </h2>



	<% @directs.each  do |direct| %>
	<a href=<%= "/direction/" + direct[0] %> > <%= direct[1]%></a> <br>
	<% end %>
