<h3>How will you spend your Saturday Night?.</h3>
<p>This is a choose your own adventure powered by Sinatra.</p>
<h2>Would you like to continue?</h2>
<a href=<% "/first" %>> <%= @choice1 %> </a>
<a href= 'www.google.com' > <%= @choice2 %> </a>
